@keyframes elevator {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px); /* Adjust this value to control the distance the div goes up */
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .elevator-animation {
    animation: elevator 5s infinite; /* Adjust the animation duration as desired */
  }
  
  .custom-svg {
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 1.5;
    /* Add any additional styles for the SVG element */
  }

  @keyframes scrolled-wheel {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(50px); /* Adjust the distance to match your desired scroll effect */
    }
  }
  
  .scrolled {
    animation: scrolled-wheel 1s infinite alternate; /* Adjust the animation duration as needed */
  }
